<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sixteen Colors ANSI Art and ASCII Art Archive</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/site.css?v=1.0">
  <link rel="stylesheet" href="//min.gitcdn.xyz/repo/DoclerLabs/Protip/master/protip.min.css">
  
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="//min.gitcdn.xyz/repo/DoclerLabs/Protip/master/protip.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>  
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>


  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  {{{block "head"}}}
</head>

<body>
  <div id="app">
    <header>
        <h1>Sixteen Colors ANSI Art and ASCII Art Archive</h1>
    </header>
    <breadcrumbs></breadcrumbs>
    <div id="content">
        <router-view></router-view>
    </div>
  </div>

  <script src="/javascripts/site.js"></script>  
  
</body>
</html>